.masthead {
  background-image: linear-gradient(-200deg, blue, purple, pink);
}

.title {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: gray;
}

@media screen and (min-width: 44.44em) {
  .title {
      font-size: 2em;
  }
}
  
@media screen and (min-width: 50em) {
  .title {
      font-size: 2.5em;
  }
}