.menu-container {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid hsl(0, 0%, );
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: rgb(202, 123, 134);
  /* display: flex; */
}

.menu li a {
  display: block;
  width: 100%;
  /* justify-content: flex-start; */
  color: white;
  padding: .6em 1em;
  text-decoration: none;
}

.menu li a:hover {
  background: hsl(0, 0%, 85%);
  color: rgb(202, 123, 134);
}

.icon {
  flex: 0 0 1.5em;
}

.mixed-menu {
  display: flex;
  background: rgb(202, 123, 134);;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* flexbox styling for social menu */
.social-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* #social-menu ul {
  background: grey;
}
.mixed-menu #multi-level ul {
  background: teal;
} */

/* Styles for Single Level Menu */
@media screen and (max-width: 30em){
	.multi-level ul ul li a {
		padding-left: 2em;
	}

	.dropdown-toggle {
		display: none;
	}
}

@media screen and (min-width: 20em) {
  .multi-level ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }	

  .multi-level li {
    flex: 1 0 auto;
    position: relative;
  }

  li.menu-child > a {
    padding-right: 0;
  }

  .multi-level ul ul {
    display: none;
    position: absolute;
    z-index: 100;
  }

  .multi-level ul ul li {
    flex: 1 1 auto;
  }

  .multi-level ul .toggled-on {
    display: flex;
  }

  .dropdown-toggle {
    margin: 0;
		padding: 0 .5em;
		border: 0;
		font-family: 'FontAwesome';
		content: "";
		text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
		background-color: transparent;
  }
  .dropdown-toggle:after {
		position: relative;
		top: 0;
		left: 0;
		width: 42px;
		color: white;
		content: "\f107";
		line-height: 1em;	
	}

	.dropdown-toggle:hover,
	.dropdown-toggle:focus {
    background: hsl(0, 0%, 25%);
	}

.dropdown-toggle:hover .toggled-on {
  display: block;
}

	.dropdown-toggle.toggle-on:after {
		content: "\f106";
	}
}