/* Base styles */
.title {
	margin-bottom: 0;
}

.mainMenu {
	padding: .4em 1em;
	color: white;
	background: hsl(0, 0%, 20%);
}

.mainContent {
	padding: 0 1.4em 1.4em;
}

.sidebar {
	padding: .5em 1.4em 1em;
	background: hsl(0, 0%, 90%);
	overflow: hidden;
}

.menuExample ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menuExample a {
	display: block;
	padding: .4em 0;
	color: inherit;
	text-decoration: none;
	transition: all 0.5s ease;
}

.menuExample a:hover,
.menuExample a:focus {
	padding: .4em 1em;
	background: hsl(0, 0%, 20%);
	color: white;
}

.footer {
	padding: .4em 1em;
	text-align: center;
	background: hsl(342, 94%, 87%);
}

/* SIDEBAR SWITCHES */
@media screen and (max-width: 40em) {
	/* hide on smaller screens */
	.sidebarSwitch {
		display: none;
	}
}

@media screen and (min-width: 40em) {
	.sidebarSwitch {
		position: absolute;
		right: 0;
		padding: .4em 1em;
		color: hsl(0, 0%, 95%);
	}

	.sidebarSwitch a{
		color: hsl(0, 0%, 100%);
		padding-left: .4em;
	}

	.sidebarSwitch a:hover, .sidebarSwitch a:focus {
		color: hsl(342, 79%, 72%);
	}
	
}


/* FLEXBOX STYLING */
@media screen and (min-width: 40em) {
  .outerWrap {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
  }

  .mainArea {
    flex: 1 1 auto;
    order: 1;
  }
  
  .mainContent {
    max-width: 40em;
    margin: 0 auto;
  }
  
  .sidebar {
    flex: 0 0 12em;
		order: 2;
		transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
	}
	
	.sidebarLeft {
		order: 0;
	}

	.noSidebar {
		flex-direction: column;
	}

	.hide {
		flex: 0 0 0;
		padding: 0;
		color: hsla(0, 0%, 0%, 0);
		transition: color .2s ease, flex .4s ease .3s, padding .4s ease .3s;
	}

	.hide a {
		color: hsla(0, 0%, 0);
	}
}